:root {
  /* Colours */
  --primary-bg-color: #FBCDED; /* used */
  --primary-font-color: #474d52; /* used */

  --secondary-bg-color: #5d656c; /* used */
  --secondary-font-color: #dbe2f5; /* used */

  /* CAN BE DELETED WHEN THE PLACEHOLDER CLASS IS DELETED */
  --placeholder-bg-color: #eb9e1a; /* used */
  --placeholder-font-color: #575c61; /* used */

  /* NOT USED AT THE MOMENT */
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;

  /* Borders */
  --border-color: #007bff; /* used */
  --border-color-light: #f7f5c2; /* used */
  --border-radius: 0.25rem;

  /* Links */
  --link-color: #84888e; /* used */
  --hover-color: #FFFCEC; /* used */
  --active-color: #f52727; /* used */

  /* From styletile */

  /* Fonts */
  --logotype-font: "Roboto", sans-serif;
  --headline-font: "Roboto", sans-serif;
  --body-font: "Roboto", sans-serif;
  --link-font: "Calibri", sans-serif;

  /* Text sizes */
  --logotype-size: 1.5rem;
  --headline1-size: 2rem;
  --headline2-size: 1.5rem;
  --headline3-size: 1.25rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1.25rem;
  --followup-text-size: 0.8rem;
  --form-submit-size: 1rem;

  /* Text colors */
  --logotype-color: #FFFCEC;
  --headline-color: #FFFCEC;
  --headline-color-inverted: #FFFCEC;
  --bodytext-color: #575c61;
  --bodytext-color-inverted: #FFFCEC;
  --cta-text-color: #FFFCEC;
  --cta-text-color-inverted: #FFFCEC;
  --followup-text-color: #FFFCEC;
  --followup-text-color-inverted: #FFFCEC;
  --formfield-text-color: #575c61;
  --form-submit-color: #FFFCEC;
  --form-submit-color-inverted: #FFFCEC;

  /* Background colors */
  --logotype-background-color: #E387B0;
  --header-background-color: #E387B0;
  --article-background-color: #FFFCEC;
  --news-background-color: #ffb9d4;
  --news-background-color-inverted: #ffb9d4;
  --info-background-color: #ffb9d4;
  --headline-bg-color: #FFFCEC;
  --headline-bg-color-alert: #D7518C;
  --headline-bg-color-inverted: #D7518C;
  --bodytext-bg-color: #FFFCEC;
  --bodytext-bg-color-inverted: #FFFCEC;
  --cta-text-bg-color: #FFFCEC;
  --cta-text-bg-color-inverted: #FFFCEC;
  --followup-text-bg-color: #d7518b;
  --followup-text-bg-color-inverted: #FFFCEC;
  --form-background-color: #dbe2f5;
  --form-text-color: #FFFCEC;
  --formfield-background-color: #FFFCEC;
  --formfield-background-color-active: #FFFCEC;
  --form-submit-bg-color: #FFFCEC;
  --form-submit-bg-color-inverted: #FFFCEC;

  /* Info-boxes */
  --info-bg-color-yellow: #FBCDED;
  --info-bg-color-green: #FFFCEC;
}